
.user-profile{
    position: absolute;
    right: 9px;
    background-color: rgb(251, 252, 255);
    width: 230px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(187, 202, 234, 0.71);
    box-shadow: 1px 1px 2px var(--shadow);
    z-index: 100;
}
.user-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 150px;
}

.header-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.90rem;
    height: 80px;
}

.icon{
    font-size: 45px;
    color: #32347a;
}

.name-user{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.name{
    font-size: 0.8rem;
    align-content: center;
    height: auto;
    margin: 0;
}

.username{
    font-size: 0.85rem;
    color: rgba(30, 43, 50, 0.71);
    font-style: italic;
}

.title{
    font-size: 0.68rem;
    color: rgba(9, 9, 9, 0.71);
    font-style: italic;
}


.info-content{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    gap: 5px;
    max-height: 100px;
}

.info-content2{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    gap: 5px;
    max-height: 100px;
}

.icon1{
    align-content: center;
    font-size: 1.20rem;
}

.icon2{
    font-size: 1.20rem;
}

.log-out{
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
    align-content: center;
    gap: 5px;
    height: 30px;
    color: #383b80;
    cursor: pointer;
}

.hr-line-user{
   margin: 5px;
}


.form-input-user{
    display: block;
    width: 100%;
    height: 1.75rem;
    padding: 0.23rem;
    font-family: inherit;
    font-size: 0.857em;
    font-weight: 400;
    line-height: 0.91;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 2px;
}

.form-input-user::placeholder {
    color: #212529;
    opacity: 0.4;
}

.form-input-user:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bbcaea;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(83, 107, 208, 0.42);
}

.input-error-user{
    width: 100%;
    height: 1.75rem;
    padding: 0.23rem;
    font-family: inherit;
    font-size: 0.857em;
    font-weight: 400;
    line-height: 0.91;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(173, 56, 36, 0.75);
    border-radius: 0.25rem;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 2px;
}

.input-error-user:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bbcaea;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(83, 107, 208, 0.42);
}

.input-error-user::placeholder {
    color: #212529;
    opacity: 0.4;
}