/*.bg-body-tertiary{*/
/*    border: solid 0.1rem #E0E7FE;*/
/*}*/

:root{
    --main-color:#FFFFFF;
    --action:#455AA0;
    --back-color:#E0E7FE;
    --font-header:var(--main-color);
    --font-main:#000000;
    --bs-form-valid-color: #FFFF;
    --bs-form-valid-border-color: #FFFF;
    --bs-green: #FFFF;
    --bs-teal: #FFFF;
    --bs-success: #ffffff;
    --bs-success-text-emphasis: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-variant: normal;
}

body{
    color:var(--font-main);
    display:flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

ul li{
    list-style: none;
    text-decoration: none;
    color: var(--font-main);
}

a{
    color:#FFFFFF;
}


/*Kanban*/
.content{
    height: 100%;
}

.kanban-board{
    height: 100%;
    margin: 10px 0 0 10px;
    padding: 0 0 0 0;
    overflow-x: auto;
    scrollbar-color: #455AA0 #F2F5FF;
    position: relative;
}

.kanban-columns{
    height: 100%;
    grid-gap: 15px;
    display: flex;
    flex:1;
    position: absolute;
    backdrop-filter: blur(10px);
}

.column{
    display:flex;
    flex-direction: row;
    max-width: 220px;
    min-width: 200px;
    background-color: rgba(59, 82, 164, 0.84);
    padding: 2px;
    border-radius: 5px;
}

.input-name{
    background-color: transparent;
    border: none;
    padding: 0 5px 0 5px;
    font-size: 18px;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    width: 100%;
}

.column .input-name{
    font-size: 15px;
    color: #FFFFFF;
}

.delete-list{
    width: 20px;
    padding-right: 2px;
    color:var(--font-main);
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.delete-list:hover {
    color: #960E0E;
}

.head-column{
    width: 100%;
    background-color: #3b52a4;
    padding: 3px 3px 3px 5px;
    box-shadow: 2px 1px 5px var(--shadow);

}


.list-tasks{
    display: flex;
    flex-direction: column;
    max-width:220px;
    max-height: calc(100% - 75px);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(60px);
    /*opacity: 75%;*/
    padding: 5px;
    margin-top: 2%;
    box-shadow: 2px 1px 5px var(--shadow);
    overflow-y:auto;
    gap: 5px;
    border-radius: 3px;
}

.create-list-button{
    height: 30px;
    min-width: 180px;
    background-color: #455AA0;
    padding: 0;
}

.create-list-button:hover{
    background-color: #383b80;
}

.create-list{
    padding-right: 20px;
}


/*Карточка задачи*/
.card-space{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.task-card{
    min-height: 65px;
    display: flex;
    align-content: flex-start;
    border-left-width: 0.7rem;
    border-color: rgba(30, 124, 22, 0.62);
}

.not-done-task{
    min-height: 65px;
    display: flex;
    align-content: flex-start;
}

.p{
    font-size: 16px;
    padding: 2px;
}

.name-task{
    font-size: 0.81rem;
    padding: 2px;
    margin-bottom: 7px;
    color: var(--font-main);
}
.date-task{
    font-size: 13px;
    padding: 2px;
    font-stretch: normal;
    margin-bottom: 10px;
}

.delete-task{
    padding: 5px;
    color:var(--font-main);
}

.delete-task-btn{
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-bg: #FFFF;
    --bs-btn-hover-color:var(--action-delete);
    color:var(--font-main);
    outline: none;
    border: none;
    --bs-btn-active-bg:none;
    --bs-btn-hover-bg:none;
    background-color: transparent;
    font-size: 12px;
}

.action-page{
    display: flex;
    flex-direction: row;
    grid-gap:20px;
    height: 50px;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    box-shadow: 2px 1px 5px var(--shadow);
}

.name-page{
    padding: 3px;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    vertical-align: bottom;
}

.member-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    height: 25px;
    margin-top: 5px;
}

.add-button-task-members .name-member{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-size: 12px;
    height: 20px;
}

.admin-user{
    display: flex;
    flex-direction: column;
    height: auto;
}

.admin{
    font-size: 11px;
    color: rgba(0, 0, 0, 0.62);
    font-weight: initial;
    padding: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    background-color: transparent;
    margin:0;
    font-size: 15px;
    height: auto;
}

.members-btn{
    padding: 6px;
    height: 20px;
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-active-bg:none;
    --bs-btn-hover-bg:none;
    color: #1E2B32;
    background-color: transparent;
    border: none;
}


.members-btn:hover{
    color: rgba(203, 51, 51, 0.86);
    background-color: transparent;
}

.list-members{
    padding-left: 5px;
    outline: none;
    border: 0;
    height: 30px;
    font-size: 13px;
    width: 12rem;
    --bs-btn-color: #fff;
    --bs-btn-bg: #4459a0;
    --bs-btn-border-color: #455AA0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #455AA0;
    --bs-btn-hover-border-color: #455AA0;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #455AA0;
    --bs-btn-active-border-color: #455AA0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4459a0;
    --bs-btn-disabled-border-color: #452AA0;
}


.dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-link-active-bg: #FFFF;
}

.add-button-task-members{
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
    height: 30px;
    font-size: 13px;
    background-color: transparent;
    outline: none;
    gap: 5px;
    color: #1E2B32;
    padding: 5px;
    border-radius: 4px;
}


.kanban-columns .add-button-task-members:hover{
    background-color: #9ba3c4;
    color: #1E2B32;
}

hr{
    color: rgba(0, 0, 0, 0.45);
    margin: 5px;
}

.dropdown-item {
    padding-bottom:0;
    padding-top:0;
}


.card-create{
    display: flex;
    flex-direction: row;
    gap:5px;
}

.form-task-list{
    font-size: 14px;
    color: #383b80;
}

.button-close{
    background-color: transparent;
    border: none;
    color: #3b52a4;
}

.add-button{
    display: flex;
    font-size: 12px;
    background-color: #455AA0;
    color: #FFFFFF;
    border-radius: 45px;
    align-content: center;
    height: auto;
    padding: 10px;
}

.dropdown-member{
    height: auto;
    max-height: 350px;
    min-width: 200px;
    overflow-y: scroll;
    scrollbar-color: #455AA0 #F2F5FF;
}

.item-admin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.adminB{
    font-size: 0.67rem;
    color: rgba(0, 0, 0, 0.62);
    font-weight: initial;
    padding: 0;
}