.modal{
    min-height: 400px;
    min-width: 500px;
}


@media (min-width: 550px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: var(--bs-box-shadow);
    }
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 500px;
    }
}

.modal-header {
    padding: 10px 16px 10px 16px;
}

.modal-body  {
    padding: 8px 16px 8px 16px;
}

.modal-footer {
    padding: 8px 16px 8px 16px;
}

.textarea-task{
    min-width:300px;
    resize: none;
    overflow-y: auto;
    scrollbar-color: #455AA0 #F2F5FF;
    border-radius: 4px;
    box-shadow: 2px 1px 5px #DBD8F6FF;
    font-size: 0.84rem;
}

.form-data-task{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-data-task2{
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding:0 20px 0 20px;
    gap: 5px;
}

.modal-header-task{
    display: inline-block;
    flex-direction: column;
    width: 100%;
}

.list-task-label{
    background-color: rgba(187, 202, 234, 0.66);
    border-radius: 4px;
    font-size: 13px;
    border: solid 0.02rem rgba(214, 220, 241, 0.86);
    box-shadow: 2px 1px 5px #DBD8F6FF;
}

.form-task{
    width: 100%;
}

.form-input{
    width: 120px;
    height: 25px;
    font-size: 14px;
    padding: 2px 2px 2px 5px;
    border: solid 0.02rem rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 2px 1px 5px #DBD8F6FF;
}
.form-input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.form-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bbcaea;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(83, 107, 208, 0.42);
}

.date-form{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width:100%;
    justify-content: flex-start;
    position: relative;
}

.react-datepicker__header{
    text-align: center;
    background-color: rgba(239, 241, 250, 0.88);
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
}

.react-datepicker__day--selected{
  background-color: #3b52a4;
}

.name-task-modal{
    background-color: transparent;
    border: none;
    font-size: 14px;
    width: 100%;
}

.name-task-modal:hover:checked{
     border: solid 0.02rem rgba(0, 0, 0, 0.15);
 }

.form-label{
    font-size: 14px;
    margin:0;
    align-content: center;
    padding:0;
}

.status{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin:0;
}

.label-status{
    font-size: 14px;
    align-content: center;
    margin:0;
}

.list-members-button{
    padding-left:0;
    width: 100%;
    color: #1E2B32;
    align-content: flex-end;
    box-shadow: 2px 1px 5px #DBD8F6FF;
}

.list-members-button .btn {
    background-color: var(--main-color);
    color: #1E2B32;
    border: solid 0.02rem rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 5px;
}

.list-members-button:active{
    background-color: #bbcaea;
}

.list{
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.list-label{
    margin:0;
}

.name-member{
    margin:0;
    font-size: 12px;
    height: 5px;
}

.label-member{
    padding-left: 16px;
    margin:0;
    font-size: 14px;
}

.member-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    height: 25px;
    margin-top: 5px;
    gap:5px;
}

.admin-user{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-content: center;
}

.admin{
    font-size: 11px;
    color: rgba(33, 34, 80, 0.8);
    font-weight: initial;
    margin:0;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    background-color: transparent;
    margin:0;
    font-size: 15px;
    height: 20px;
}

.members-btn{
    font-size: 0.7rem;
    padding: 6px;
    height: 20px;
    --bs-btn-active-bg:none;
    --bs-btn-hover-bg:none;
    border: none;
}


.members-btn:hover{
    color: rgb(50, 52, 122);
}

.members-btn-del{
    font-size: 0.7rem;
    padding: 6px;
    height: 20px;
    --bs-btn-active-bg:none;
    --bs-btn-hover-bg:none;
    border: none;
    background-color: transparent;
}

.members-btn-del:hover{
    color: rgba(203, 51, 51, 0.86);
}

.form-file-upload{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}


.file-upload {
    color: transparent;
    font-size: 0.72rem;
    letter-spacing: 0.02rem;
}
.file-upload::-webkit-file-upload-button {
    visibility: hidden;
}
.file-upload::before {
    content: 'Прикрепить файл';
    align-items: center;
    color: #ffffff;
    background-color: #4459a0;
}

.file-upload:hover::before {
    border-color: black;
}
.file-upload:active {
    outline: 0;
}
.file-upload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.form-control.file-upload {
    display: block;
    padding: 2px 5px 2px 5px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 112px;
    align-items: center;
    background-color: #4358a0;
    border-radius: 4px;
}

.button-save{
    background-color: #455AA0;
    border: none;
}

.button-save:hover{
    background-color: #383b80;
    border: none;
}


.button-save:active{
    background-color: #383b80;
}

.btn-primary {
    --bs-btn-bg: #b2c7ef;

}

.form-input-date{
    background-color: transparent;
    color: #960E0E;
}


.list-files{
    display: flex;
    flex-direction: column;
    padding:5px;
    border-radius: 10px;
    height: 100px;
    overflow-y: auto;
    scrollbar-color: #455AA0 #F2F5FF;
}

.file-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #4459a0;
}

.file-item:active{
    background-color: rgba(187, 202, 234, 0.51);
}

.name-file{
    width: 100%;
    font-size: 0.84rem;

}
.button-delete-file{
    font-size: 0.7rem;
    background-color: transparent;
    color:var(--font-main);
    outline: none;
    border: none;
}

.button-delete-file:hover{
    color: #960E0E;
    border: none;
}


.button-delete-file:active{
    color: #960E0E;
}

.dropdown-member{
    height: auto;
    max-height: 250px;
    min-width: 200px;
    overflow-y: scroll;
    scrollbar-color: #455AA0 #F2F5FF;
}
