
*{
    margin: 0;
    padding: 0;
}

.name-board-link a{
    color: #3b52a4;
}

a:active, a:hover, a{
    text-decoration: none;
    color: #3b52a4;
}

ul li{
    padding-right: 5px;
    margin-right: 5px;
    list-style: none;
}



.content{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    flex-grow: 1;
    /*background-color: rgba(0, 0, 0, 0.03);*/
    border-radius: 10px;
}

/* */
/*Tasks*/
.tasks-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin: 10px;
    height: calc(100% - 40px);
}


.filters{
    display: flex;
    flex-direction: row;
    max-width: 180px;
    min-width: 180px;
    margin-right: 40px;
}

.filter{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: flex-end;
}

.tasks-list{
    flex: 2;
    min-width: 550px;
    height:calc(100% - 55px);
    overflow-y: auto;
}

.tasks-list-header{
    flex: 2;
    min-width: 545px;
    max-height: calc(100% - 40px);
}

.task-header{
    padding-left: 5px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
    background-color: rgba(239, 241, 250, 0.88);
    opacity: 60%;
    margin-bottom: 3px;
}

.task-header .name-task{
    flex:1;
    width: 120px;
    font-size: 12px;
    align-items: center;
    align-content: center;
}

.name-task-header{
    min-width: 150px;
    margin: 0;
}

.info-header{
    flex:2;
    padding-right: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap:45px;
}


.task-item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

.description{
    height: 120px;
    overflow-y: auto;
    padding: 5px;
    scrollbar-width: none;
    border-radius: 5px;
    border: groove 0.02rem rgba(187, 202, 234, 0.71);
    font-size: .82rem;
}

.name-task-list{
    flex: 1;
    min-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: #FFFF;
}

.accordion-item{
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 2px 1px 5px var(--shadow);
    font-size: .82rem;
    background-color: #FFFF;
}

.accordion-button{
    padding: 0;
}

.info{
    flex: 2;
    display: flex;
    gap:9px;
    flex-direction: row;
    justify-content: flex-end;
}


.full-info{
    display: flex;
}

.full-info .title{
    font-size: 12px;
    color: #32347a;
    font-style: italic;
}

.column1{
    flex:2;
    margin-right: 10px;

}

.column2{
    flex:1;
}

.name-board-link{
    display: flex;
    flex-direction: row;
    gap:5px;
}

.name-author{
    color: rgba(30, 43, 50, 0.7);
    font-size: .7rem;
    font-style: italic;
}

.importance{
    outline: none;
    font-size: 12px;
    width: 120px;
}

.option-select{
    color: rgba(56, 59, 128, 0.69);
    opacity: 70%;
}

.form-select{
    padding: 2px;
}

p{
    margin: 0;
}

.info .status{
    min-width: 120px;
}


.form-input{
    width: 100%;
    height: 25px;
    font-size: 14px;
    padding: 2px 2px 2px 5px;
    border: solid 0.02rem rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 2px 1px 5px #DBD8F6FF;
}
.form-input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.form-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bbcaea;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(83, 107, 208, 0.42);
}

.date-form{
    display: flex;
    flex-direction: inherit;
    gap: 12px;
    width:100%;
    justify-content: space-between;
    position: relative;
}

.react-datepicker__header{
    text-align: center;
    background-color: rgba(239, 241, 250, 0.88);
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
}

.react-datepicker__day--selected{
    background-color: #3b52a4;
}

.title-info{
    font-size: 12px;
    min-width: 100px;
}

.date{
    display: flex;
    gap:5px;
    align-items: center;
    width: 150px;

}

.status{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
    align-content: flex-end;
}

.form-check-input{
    display: flex;
    margin-bottom: 5px;
    align-items: flex-end;
}

.filter-status{
    font-size: 14px;
    width: 180px;
    align-content: flex-end;
}

.label-status{
    align-content: flex-start;
    font-size: .82rem;;
}

.action-filter{
    display: flex;
    gap: 20px;
}

.button-filter{
    background-color: #455AA0;
    border: none;
}

.button-filter:hover{
    background-color: #383b80;
    border: none;
}


.button-filter:active{
    background-color: #383b80;
}


.button-filter-no{
    background-color: transparent;
    color: #383b80;
    border: none;
}

.button-filter-no:hover{
    background-color: transparent;
    color: #32347a;
    border: none;
}


.button-filter-no:active{
    background-color: transparent;
    color: #595c8d;
}

.button-filter-no:before{
    background-color: transparent;
    color: #383b80;
    border: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(69, 90, 160);
    --bs-btn-border-color: #3b52a4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4358a0;
    --bs-btn-hover-border-color: #4459a0;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4358a0;
    --bs-btn-active-border-color: rgba(69, 90, 160, 0.86);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #32347a;
    --bs-btn-disabled-border-color: rgba(69, 90, 160, 0.86);
}
