@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 600px;
    }
}

.modal-content{
    background-color: #F2F5FF;
}
.modal-body{
    min-height: 300px;
}

.header-user-modal{
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.label-modal{
    font-size: 18px;

}

li{
    list-style: none;
}

.add-button-member{
    background-color: #455AA0;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px;
}