@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 600px;
    }
}

.modal-content{
    background-color: #F2F5FF;
}

.modal-body{
    min-height: 300px;
    height: 400px;

}

.modal-data-user{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #455AA0 #F2F5FF;
}

.header-user-modal{
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.label-modal{
    font-size: 18px;

}

li{
    list-style: none;
    padding: 5px;
}

.member-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.add-button-member{
    background-color: #455AA0;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    border-radius: 3px;
    padding: 3px;
}

.user-app{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user-app-full{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.62);
    font-weight: initial;
    padding: 0;
    margin: 0;
}

.user-app .name-member{
    height: 15px;
    font-size: 14px;
}

.members-btn-add{
    font-size: 0.75rem;
    padding: 6px;
    height: 20px;
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-active-bg:none;
    --bs-btn-hover-bg:none;
    color: #1E2B32;
    background-color: transparent;
    border: none;
}

.members-btn-add:hover{
    color: rgb(50, 52, 122);
}

.members-btn-add:active{
    color: rgb(255, 255, 255);
}

.members-btn-add:after{
    color: rgb(255, 255, 255);
}

.members-btn-add:before{
    background-color:#960E0E;
}