@import url("color.css");

/*.bg-body-tertiary{*/
/*    border: solid 0.1rem #E0E7FE;*/
/*}*/

:root{
    --main-color:#FFFFFF;
    --action:#455AA0;
    --back-color:#E0E7FE;
    --font-header:var(--main-color);
    --font-main:#000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body{
    color:var(--font-main);
    display:flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

ul li{
    list-style: none;
    text-decoration: none;
    color: var(--font-main);
}

a{
    color:#FFFFFF;
}

.user-info{
    display: flex;
    color: #383b80;
    justify-content: center;
    font-size: 30px;
}

.f-container{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.input-name{
    background-color: transparent;
    border: none;
    padding: 5px;
}



.main{
    display: flex;
    background: -webkit-linear-gradient(180deg, #f5f5f5,#b7c4f0,#c0cbf2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #f5f5f5,#b7c4f0,#c0cbf2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    scrollbar-color: #455AA0 #F2F5FF;
    height: calc(100% - 68px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
}

main-menu-content{
    flex:1;
}

a:active, a:hover, a{
    text-decoration: none;
}

.header{
    position: relative;
    margin: 0px;
    max-height: 40px;
    background-color: #b2c9ff;
}

.header.max{
    justify-content: flex-end;
    flex:1;
}

.navbar-brand{
    font-size: 28px;
    color: var(--font-main);
    font-family: "Lato", sans-serif;
    font-stretch: semi-expanded;
}

.action-page-button{
    background-color:#455AA0;
    border: none;
    color: var(--main-color);
}

.action-page-button:hover{
    background-color: var(--font-header);
    color: #1E2B32;
}
.form-board{
    justify-content: center;
}

.add-button{
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: #455AA0;
    color: #FFFFFF;
    height: 30px;
    border-radius: 50px;
    padding:5px;
}
.btn {
    --bs-btn-padding-x: 0.55rem;
    --bs-btn-padding-y: 0.55rem;
    --bs-btn-font-size: .81rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 0.4;

}
.btn-secondary{
    outline: none;
    border: none;
}
.mb-3 {
    margin-bottom: 0.41rem!important;
}

.form-board{
    padding: 5px;
}

.card-body{
    padding: 5px;
    align-items: center;
    vertical-align: center;
}

.card-title{
    color: #1E2B32;
}

.container{
    display: flex;
    margin: 5px;
    padding: 5px;
}

.main-menu-content{
    display: flex;
    box-sizing: border-box;
    max-width: 200px;
    align-items: center;
    vertical-align: center;
    backdrop-filter: blur(10px);
    /*box-shadow: 2px 1px 5px var(--shadow);*/
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    flex-grow: 1;
    /*background-color: rgba(0, 0, 0, 0.03);*/
    border-radius: 10px;
}

.name-page{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    letter-spacing:.05rem;
}

.list-boards{
    margin: 0;
    outline: none;
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
    align-content: flex-start;
    overflow: auto;
    scrollbar-color: #455AA0 #F2F5FF;
    width: 100%;
    height: 100vh;
    padding: 8px;
}

.item-board {
    margin:0;
    padding: 10px;
    width: 200px;
    max-height: 150px;
    min-height: 100px;
    box-shadow: 1px 1px 5px var(--shadow);
    color: #1E2B32;
}


.name-board{
    font-size: 15px;
}


/*MENU*/
.menu-container{
    height: 100%;
}

.menu-item{
    align-content: center;
    text-align: center;
    min-height: 40px;
    font-size: 20px;
    color: #FFFFFF;
}

.my-case{
    padding: 0px;
    font-family: "Arial Rounded MT Bold";
    font-size: 25px;
    text-transform:uppercase;
    font-weight: normal;
}

li:hover{
    transition: 1s all;
    color: #2f89fc;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    cursor: pointer;
    box-shadow: 2px 1px 5px var(--shadow);
}

.body li ul{
    background: #1E2B32;
    margin-left: 280px;
    margin-top: -38px;
    display: none;
    position: absolute;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul{
    display: block;
    cursor: pointer;
}


.navigation{
    width: 70px;
    flex-grow: 1;
    margin: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px var(--shadow);
    border-radius: 20px 20px;
    background-color: #465AA0;
}

.header-menu{
    height: 40px;
    width: 100%;
}

.footer-menu{
    height: 40px;
    width: 100%;
}

.hr-line{
    color:#FFFFFF;
}

.box-menu{
    margin: 0;
    height: 100%;
    padding:3px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.08);
}

.menu-name{
    height: 60px;
}

.pro-menu{
    padding: 0;
}


/*Kanban*/

.kanban-board{
    height: 100%;
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    overflow-x: auto;
    scrollbar-color: #455AA0 #F2F5FF;
    position: relative;
}

.kanban-columns{
    height: 100%;
    grid-gap: 30px;
    display: flex;
    flex:1;
    position: absolute;
    backdrop-filter: blur(10px);
}

.column{
    flex-direction: column;
    max-width: 230px;
    min-width: 200px;
    width: 100%;
    background-color: #FFFFFF;

}

.head-column{
    width: 100%;
    background-color: var(--bs-emphasis-color-rgb);
    padding: 3px 3px 3px 5px;
    box-shadow: 2px 1px 5px var(--shadow);
}

.list-tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height:90%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(60px);
    /*opacity: 75%;*/
    padding: 5px;
    margin-top: 2%;
    box-shadow: 2px 1px 5px var(--shadow);
    overflow-y:scroll;
    gap: 5px;
}

.create-list-button{
    height: 40px;
    min-width: 200px;
    background-color: #455AA0;
}

.create-list-button:hover{
    background-color: #383b80;
}

.create-list{
    padding-right: 20px;
}

/*.task{*/
/*    padding: 3px;*/
/*    margin-bottom: 5px;*/
/*    border-radius: 32px;*/
/*    height: 100px;*/
/*}*/

.task-card{
    min-height: 70px;
    display: flex;
    align-content: flex-start;
}

.p{
    font-size: 17px;
    padding: 2px;
}

.name-task{
    font-size: 17px;
    padding: 2px;
    margin-bottom: 7px;
    color: var(--font-main);
}
.date-task{
    font-size: 13px;
    padding: 2px;
    font-stretch: normal;
    margin-bottom: 10px;
}

.delete-task{
    padding: 5px;
    color:var(--font-main);
}

.delete-task-btn{
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-bg: #FFFF;
    --bs-btn-hover-color:var(--action-delete);
    color:var(--font-main);
    outline: none;
    border: none;
    --bs-btn-active-bg:none;
    --bs-btn-hover-bg:none;
}

.action-page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-gap:20px;
    height: 50px;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
    box-shadow: 2px 1px 5px var(--shadow);
}

.name-page{
    padding: 3px;
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
    vertical-align: bottom;
}

.member-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    height: 25px;
    margin-top: 5px;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    background-color: transparent;
    margin: 0px;
    font-size: 15px;
    height: 20px;
}

.members-btn{
    padding: 6px;
    height: 20px;
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-active-bg:none;
    --bs-btn-hover-bg:none;
    color: #1E2B32;
    background-color: transparent;
}

.list-members{
    padding-left: 5px;
    outline: none;
    border: 0;
    height: 30px;
    font-size: 13px;
    width: 12rem;
    justify-content: space-between;
}

.dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-link-active-bg: #FFFF;
}

.add-button-task-members{
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
    height: 30px;
    font-size: 13px;
    background-color: transparent;
    outline: none;
    gap: 5px;
    color: #1E2B32;
    padding: 5px;
    border-radius: 4px;
}


.kanban-columns .add-button-task-members:hover{
    background-color: #9ba3c4;
    color: #1E2B32;
}

hr{
    color: rgba(0, 0, 0, 0.45);
    margin: 5px;
}

.dropdown-item {
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #455AA0;
    --bs-btn-border-color: #455AA0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #455AA0;
    --bs-btn-hover-border-color: #455AA0;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #455AA0;
    --bs-btn-active-border-color: #455AA0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #445AA0;
    --bs-btn-disabled-border-color: #452AA0;
}