@import url("color.css");

/*header*/

.header{
    margin: 0;
    background-color: var(--action);
    padding: 10px 0;
    height: 30px;
}

.container{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .logo-name{
    font-size: 25px;
    color:var(--font-header);
}

.action-header{
    display:flex;
    width: 250px;
    align-items: center;

}

.search-header{
    width: 40%;
    background: var(--main-color);
    border-radius: 25px;
    color:var(--font-main);
    outline: none;
    border: 1px solid transparent;
    opacity: 80%;
}

.info-user{
    margin-left: 5px;
    padding: 14px 14px;
    border-radius: 50%;
    outline: none;
    border: 1px solid transparent;
    background: var(--info-profile);
    color:var(--main-color);
}

/*Меню*/

.main-menu{
    padding: 10px 0px 0px 10px;
    box-sizing: border-box;
    flex:1;
    height: 100%;
    max-width: 170px;
    background-color: var(--back-color);
    box-shadow: 1px 1px 5px var(--shadow);
}

.menu-item{
    color: var(--font-main);
}

.my-case{
    text-transform:uppercase;
    font-weight: normal;
}