@import url("color.css");
@import url("header-menu.css"); 


 *{
     margin: 0;
     padding: 0;
 }
 
 body{
    background-color:rgb(232, 235, 236);
    color:var(--font-main);
    display:flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.main{
   display:flex;
   height: 100vh;
   flex-direction: column;
}



a:active, a:hover, a{
    text-decoration: none;
}

ul li{
    padding-right: 5px;
    margin-right: 5px;
    list-style: none;
    text-decoration: none;
    color: var(--font-main);
}


/* */
.main-content{
   width: 100%;
   display: flex;
   height: 100%;
   flex-grow: 1;
}


/*Список досок*/

.boards{
    padding: 10px;
    flex:2;
    background-color: var(--main-color);
}

.action-page{
    display: flex;
    flex-direction: row;
    grid-gap:20px;
    padding-bottom: 5px;
}

.add-board{
    padding-left: 2px;
    background-color: rgb(112, 70, 112,0);
    outline: none;
    border: 0;
    text-transform: uppercase;
    text-decoration: underline;
}

.name-page{
    padding: 3px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: normal;
    font-size: 15px;
    background-color: var(--board);
}

.list-boards{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.item-board{
    padding: 10px;    
    width: 200px;
    height: 150px;
    background-color: var(--board);
    box-shadow: 1px 1px 5px var(--shadow);
}

.name-board{
    font-size: 15px;
}

.delete-board{
    padding: 8px 10px;
    margin-top: 3%;
    border-radius: 15px;
    outline: none;
    border: 1px solid transparent;
    background: var(--action);
    color:var(--main-color);
}